.msg-wrap {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
    height: 100%;
    width: 100%;
}
.msg-wrap .overlay {
    height: 100vh;
    width: 100vw;
}
.msg-wrap .modal {
    height: 460px;
    width: 624px;
    position: absolute;
    top: calc(50vh - 230px);
    left: calc(50% - 312px);
    border-radius: 30px;
    background-color: #FFFFFF;
    box-shadow: 0 24px 38px 3px rgba(0,0,0,0.14), 0 9px 46px 8px rgba(0,0,0,0.12), 0 11px 15px -7px rgba(0,0,0,0.2);
}
.msg-wrap .modal img {
    max-width: 156px;
    margin: 66px auto 0;
    display: block;
}
.msg-wrap .modal div:nth-of-type(1) {
    color: #111111;
    font-family: "JetBrains Mono";
    font-size: 36px;
    font-weight: 800;
    text-transform: uppercase;
    letter-spacing: -0.8px;
    line-height: 34.5px;
    text-align: center;
    margin: 52px auto 0;
}
.msg-wrap .modal div:nth-of-type(2) {
    color: #89959C;
    font-family: Inter;
    font-size: 18px;
    letter-spacing: 0;
    line-height: 26px;
    text-align: center;
    margin: 25px auto 60px;
}
@media all and (max-width: 676px) {
    .msg-wrap .modal {
        max-width: 80%;
        max-height: 400px;
        left: 10%;
    }
    .msg-wrap .modal div:nth-of-type(1) {
        color: #111111;
        font-family: "JetBrains Mono";
        font-size: 26px;
        font-weight: 800;
        text-transform: uppercase;
        letter-spacing: -0.8px;
        line-height: 34.5px;
        text-align: center;
        margin: 32px auto 0;
    }
    .msg-wrap .modal div:nth-of-type(2) {
        color: #89959C;
        font-family: Inter;
        font-size: 14px;
        letter-spacing: 0;
        line-height: 22px;
        text-align: center;
        margin: 20px auto 60px;
    }
    .msg-wrap .modal img {
        max-width: 126px;
        margin: 46px auto 0;
        display: block;
    }
}